<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IT job market analytics</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
  <link href="/css/styles.css" rel="stylesheet" type="text/css" >
</head>
<body>
<header th:replace="~{fragment/header :: header (isLoggedIn=${isLoggedIn}, username=${username})}"></header>
<section class="wrapper">
  <div class="alert alert-danger small p-2" role="alert" th:if="${errorMessage}"><span th:text="${errorMessage}"/></div>
  <div class="container mt-5 mb-lg-4">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h4>Number of vacancies</h4>
        <canvas id="numberOfVacancy"></canvas>
      </div>
      <div class="col-sm-12 col-md-6">
        <h4>Average salary</h4>
        <canvas id="averageSalary"></canvas>
      </div>
      <div class="col-sm-12 col-md-12 mt-5">
        <h4 class="d-flex">Average salary by technology <div id="allAvailableContainer"></div></h4>
        <canvas id="averageSalaryByQuery"></canvas>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{fragment/footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">
  const queries =[];
  const vacancyCount =[];
  const averageSalaryData =[];
  /*<![CDATA[*/
  /*[# th:each="q: ${analyticsQueryData}"]*/
  queries.push([[${q.getQuery()}]]);
  vacancyCount.push([[${q.getVacancyCount()}]]);
  averageSalaryData.push([[${q.getSalary()}]]);
  /*[/]*/
  /*]]>*/
</script>
<script src="/js/scripts.js"></script>
</body>
</html>