<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >
</head>
<body>
<header th:replace="~{fragment/header :: header (isLoggedIn=${isLoggedIn}, username=${username})}"></header>
<section class="wrapper profile">
    <div class="container">
        <div class="profile__form">
            <h1 class="text-center">Your profile</h1>

            <form method="post" th:action="@{/profile/editUser}" th:object="${updateUser}">
                <div class="col-sm-4 m-auto text-center">
                    <input type="text" class="form-control mb-3" th:value="${username}" disabled>
                    <input type="number" th:value="${telegramChatId}" max="9223372036854775807" class="form-control mb-3" placeholder="Telegram chat id" th:field="*{telegramChatId}">
                    <div th:if="${updateMessage}" th:text="${updateMessage}" th:class="${'alert p-1 ps-2 mt-1 ' + updateAlertClass}"/>
                    <div class="mb-4">
                        <i>
                            To receive Telegram notifications about new vacancies,
                            contact <a href="https://t.me/it_jobs_notifier_bot">@it_jobs_notifier_bot</a>
                            and paste your chat id here
                        </i>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class="subscriptions__form">
            <h1 class="text-center ">You subscriptions</h1>
            <form method="post" th:action="@{/profile/addSubscription}" th:object="${addSubscription}" class="mt-4">
                <div class="m-auto col-sm-4">
                    <div class="row">
                        <div class="col-sm-4 d-flex w-100">
                            <div class="flex-grow-1">
                                <select class="form-select flex-grow-1" th:field="*{query}">
                                    <option value="" hidden="hidden">Choose a keyword to subscribe</option>
                                    <option th:each="subscription: ${availableSubscriptions}"
                                            th:value="${subscription.query}"
                                            th:text="${subscription.query}"></option>
                                </select>
                                <div th:if="${addMessage}" th:text="${addMessage}" th:class="${'alert p-1 ps-2 mt-1 ' + addAlertClass}"/>
                            </div>
                            <div class="text-center mx-4">
                                <button class="btn btn-outline-primary" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="subscribers mt-4 row">
            <div class="m-auto col-sm-3">
                <div th:each="subscription: ${currentSubscriptions}" class="d-flex align-items-center justify-content-between mt-2">
                    <span th:text="${subscription.query}"></span>
                    <form method="post" th:action="@{/profile/removeSubscription}" th:object="${removeSubscription}">
                        <input type="hidden" th:value="${subscription.query}" name="query"/>
                        <button class="btn btn-outline-danger" type="submit">-</button>
                    </form>
                </div>
                <div th:if="${removeMessage}" th:text="${removeMessage}" th:class="${'alert p-1 ps-2 mt-2 ' + removeAlertClass}"/>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>